.user-tooltip {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #9965dd;
}
.details {
  display: flex;
  flex-direction: column;
}
h4 {
  margin: 0;
  color: #fff;
  font-size: 1.1rem;
}
.role {
  color: #a78bc7;
  margin: 0.2rem 0 0;
}
.email {
  color: #c3b3d1;
  margin: 0.2rem 0 0;
}
